*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #808080;
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.table-container{
    margin: 50px 250px;
    /*margin-top: 100px;*/
    /*padding: 0px;*/
    width: 600px;   
    border-radius: 4px;
    font-family: 'calibri';
}

#tabla{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    border-radius: 4px;
    width: 150%;
    margin: 0px auto;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #000080;
    border-bottom: solid 5px #0f362d;
    color: white;
}

tr:nth-child(even){
    background-color: #C0C0C0;
}

/*tr:nth-child(odd){
    background-color: #A9A9A9;
}*/

tr:hover td{
    background-color: #6495ED;
    color: white;
}

#tabla button:hover{
    cursor: pointer;
}

.otrousuario{
    width: 200px;
    background: #000080;
    border: none;
    padding: 12px;
    margin: 0px auto;
    font-size: 16px;   
    text-align: center;  
}

.otrousuario a{
    text-decoration: none;   
    color: white;    
}

.otrousuario:hover{
    background: #1f53c5;
    cursor: pointer;
}

.form-register h1{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;    
    color: white;
}

.form-register .botoncrear{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
     
}

.form-register .botonlistar{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  
}

.botoncrear:hover{
    background: #000080;
    cursor: pointer;
}

.botonlistar:hover{
    background: #000080;
    cursor: pointer;
}




